body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 30px;
}

.hidden {
  display: none;
}

h1 {
  text-align: center;
  color: #343a40;
}

h2.year {
  margin-top: 40px;
  color: #444;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.year-block {
  margin-bottom: 80px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
}

.poster {
  width: 250px;
  text-align: center;
}

.poster img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.poster img:hover {
  transform: scale(1.03);
}

.poster p {
  font-size: 0.95em;
  margin-top: 10px;
  color: #333;
  word-wrap: break-word;
}

.toggle-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  padding: 0;
  outline: none;
}

.toggle-buttons button:hover {
  color: #1DB2E9;
}

/* Style the icons inside the buttons */
.toggle-buttons i {
  color: #555; /* default (inactive) */
  font-size: 1.4em;
  transition: color 0.1s ease-in-out;
}

/* Active icon is blue */
.toggle-buttons i.active {
  color: #1DB2E9;
}
