<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- <div class="navbar topnav" id="myTopnav">
  {% if page.tab == "Home" %}
    <a href="{{ site.baseurl }}/" class="active btn">Home</a>
  {% else %}
    <a href="{{ site.baseurl }}/" class="btn">Home</a>
  {% endif %}
  {% if page.tab == "Blog" %}
    <a href="{{ site.baseurl }}/blog/" class="active btn">Blog</a>
  {% else %}
  <a href="{{ site.baseurl }}/blog/" class="btn">Blog</a>
  {% endif %}
  {% if page.tab == "People" %}
    <a href="{{ site.baseurl }}/people/" class="active btn">People</a>
  {% else %}
    <a href="{{ site.baseurl }}/people/" class="btn">People</a>
  {% endif %}
  {% if page.tab == "Publications" %}
    <a href="{{ site.baseurl }}/publications/" class="active btn">Publications</a>
  {% else %}
    <a href="{{ site.baseurl }}/publications/" class="btn">Publications</a>
  {% endif %}
  {% if page.tab == "Research" %}
    <a href="{{ site.baseurl }}/research/" class="active btn">Research</a>
  {% else %}
    <a href="{{ site.baseurl }}/research/" class="btn">Research</a>
  {% endif %}
  {% if page.tab == "Software" %}
    <a href="{{ site.baseurl }}/software/" class="active btn">Software</a>
  {% else %}
    <a href="{{ site.baseurl }}/software/" class="btn">Software</a>
  {% endif %}
  {% if page.tab == "Events" %}
    <a href="{{ site.baseurl }}/events/" class="active btn">Events</a>
  {% else %}
    <a href="{{ site.baseurl }}/events/" class="btn">Events</a>
  {% endif %}
  {% if page.tab == "Resources" %}
    <a href="{{ site.baseurl }}/resources/" class="active btn">Resources</a>
  {% else %}
    <a href="{{ site.baseurl }}/resources/" class="btn">Resources</a>
  {% endif %}
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars" style="font-size: 1.8em;"></i>
  </a>
</div> -->

<nav class="navbar navbar-light fixed-top navbar-expand-lg bg-white">
  <a class="navbar-brand" href="{{ site.baseurl }}/">DDMAL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" id="nav-items">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/blog/">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/people/">People</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/publications/">Publications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/research/">Research</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/software/">Software</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/events/">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/resources/">Resources</a>
      </li>
    </ul>
  </div>
</nav>
