<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <a href="{{ site.baseurl }}" class="active">Home</a>
  <a href="{{ site.baseurl }}/blog/">Blog</a>
  <a href="{{ site.baseurl }}/people/">People</a>
  <a href="{{ site.baseurl }}/publications/">Publications</a>
  <a href="{{ site.baseurl }}/research/">Research</a>
  <a href="{{ site.baseurl }}/software/">Software</a>
  <a href="{{ site.baseurl }}/events/">Events</a>
  <a href="{{ site.baseurl }}/resources/">Resources</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars" style="font-size: 1.8em;"></i>
  </a>
</div>
