<ul class="ulist-html">

  {% assign list = include.list | split: "; " %}

  {% for item in list %}
    {% if item != null %}
      {% if item contains "(l)" %}

        {% assign name = item | split: "(l)" | first %}

        {% if name contains ":" %}

          <li><a href="{{ item | split: "(l)" | last }}">{{ item | split: "(l)" | first | split: ":" | first }}</a>: {{ item | split: "(l)" | first | split: ":" | last }}</li>

        {% else %}

          <li><a href="{{ item | split: "(l)" | last }}">{{ item | split: "(l)" | first }}</a></li>

        {% endif %}

      {% else %}

        <li>{{ item }}</li>

      {% endif %}

    {% endif %}

  {% endfor %}

</ul>
