<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  {% include sidebar.html %}

  <body id ="Site" class='layout-reverse theme-base-db sidebar-overlay'>

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->


      <div class="wrap">

        <!-- <div class="masthead">



          <div class="masthead-container">

            <div class="title-wrap">
              <h3 class="masthead-title">
                <a href="{{ site.url }}/" title="Home">{{ site.title }}</a>
                <small>{{ site.tagline }}</small>
              </h3>
            </div>
            <div class="nav-wrap">

            </div>
          </div>
        </div> -->

        <div class="container content">
          {{ content }}
        </div>
      </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>


    {% include footer.html %}

    <!-- <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="{{ site.url }}/js/bootstrap.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
          var url = window.location;
          $('ul.navbar-nav a[href="'+ url +'"]').parent().addClass('active');
          $('ul.navbar-nav a').filter(function() {
               return this.href == url;
          }).parent().addClass('active');
      });
    </script>
  </body>
</html>
