---
layout: default
---

<div class="page container lab_member">
  <div class="logo_header">
    <h1 style="text-align: left;" class="page-title">{{ page.title }}</h1>
    {% if page.cv %}
      <a href="{{ site.baseurl }}/assets/lab_members/cv/{{ page.cv }}"><img class="cv-icon" src="{{ site.baseurl }}/assets/resume-document.png" /></a>
    {% endif %}
  </div>
  <div class="img-wrap">
    <img class="profile-photo" src="{{ site.baseurl }}/assets/lab_members/{{ page.photo }}"/>
    {% include social_links.html %}

  </div>
  <div class="lab_member_flex">
    {% if page.current_focus %}
      <div class="current-focus">
        <!-- <h5 class="lab_member_subtitles"> Current Focus </h5> -->
        <p><i>{{ page.category }} &ndash; {{ page.current_focus }}</i></p>
      </div>
    {% endif %}
    <!-- <br> -->
    <div class=""></div>
    <div class=""></div>
  </div>
  <div class="lab_member_bio">{{ content }}</div>
  <br>
  <div class="flex-wrap">
    {% if page.research_interests %}
      <div class="research-interests">
        <h4 class="lab_member_subtitles">Research Interests </h4>
        <ul>
        {% for interest in page.research_interests %}
          <li>{{ interest }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if page.academic_record %}
      <div class="academic-record">
        <h4 class="lab_member_subtitles">Academic Record </h4>
        <ul>
        {% for class in page.academic_record %}
          <li>{{ class }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  {% if page.publications %}
    <div class="publications">
      <h4 class="lab_member_subtitles">Publications </h4>
      <ul>
      {% for pub in page.publications %}
        <li>{{ pub }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>

<br>
<br>
