---
layout: default
---

<div class="post">
  <br>
  <h1 style="text-align: left" class="post-title">{{ page.title }}</h1>
  <div style="margin-bottom: 45px"></div>
  <!-- <span class="post-date">{{ page.date | date_to_string }}</span> -->
  {{ content }}
</div>

<div class="related">
  <h2>Related Research</h2>
  <ul class="related-posts">
    {% for post in site.research limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <!-- <small>{{ post.date | date_to_string }}</small> -->
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
